<%- include('./header') %>
<title>Royex Admin</title>
<section class="uk-height-viewport bg_img">

    <header>
        <nav class="uk-navbar-container bg_img py-2 room-comm" uk-navbar>
            <div class="uk-navbar-left">
                <img src="./assets/img/logo.png" class="pl-4">
            </div>
            <div class="uk-navbar-right">
                <a href="/admin/logout" class="uk-button uk-button-danger mr-3 uk-border-rounded uk-box-shadow-hover-large">Log out</a>
            </div>
        </nav>
    </header>   

    <div class="uk-container uk-container-small">
        <h1 class="uk-text-center white_text">Dashboard</h1>
        <div class="uk-card uk-card-default uk-border-rounded" style="background-color: #ffff;">
            <div class="uk-card-body">
                <div class="uk-card-title uk-text-left py-4 font-weight-bolder">Meeting Rooms</div>
                <ul class="uk-list uk-list-square">
                    <li class="uk-background-muted p-2 uk-panel">Total Created Meeting Rooms: <span class="uk-badge ml-2"><%= totalMeeting %> </span> </li>
                    <li class="uk-background-muted p-2 uk-panel">Currently Running Meetings:<span class="uk-badge ml-2"><%= runningMeeting %> </span> </li>
                </ul>
                <div class="uk-card-title uk-text-left py-4 font-weight-bolder">Meeting Details</div>
                <% let meeting_id %> 
                <% meetings.forEach(meeting=>{%>
                    <% meeting_id = meeting.meeting_id %>
                    <% let participantsDetails = participants.filter(participant=> participant.room_id===meeting.meeting_id)%>  
                    <li class="uk-background-muted p-2 uk-panel">
                        <a class="uk-accordion-title" href="#modal-center<%= meeting.meeting_id %>" uk-toggle><%= meeting.meeting_id %> </a>
                        <div id="modal-center<%= meeting.meeting_id %>" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <ul class="uk-list">
                                    <li>Room Name: <span class="pl-3 font-weight-bolder"><%= meeting.meeting_name %></span> </li>
                                    <li>Room Master: <span class="pl-3 font-weight-bolder"><%= meeting.room_master_name %></span> </li>
                                    <li>Email: <span class="pl-3 font-weight-bolder"><%= meeting.room_master_email %></span> </li>
                                    <li>Started At: <span class="pl-3 font-weight-bolder"><%= (meeting.room_creation_time).toString().slice(0,24) %></span> </li>
                                    <% meeting_time = duration.filter(ele=> ele.meeting_id === meeting.meeting_id) %>
                                    <% console.log(meeting_time); %>  
                                    <% if (meeting_time.length !== 0) { %>
                                    <li>Ended At: <span class="pl-3 font-weight-bolder"><%= (meeting.meeting_closing_time).toString().slice(0,24) %></span></li>
                                    <li>Meeting Duration: <span class="pl-3 font-weight-bolder"><%= (meeting_time[0].duration).toString().slice(0,8) %></span> </li>
                                    <% }else{%>
                                    
                                    <%} %> 
                                    <li>Status: <span class="uk-badge ml-2"><%= meeting.status %></span> </li>
                                    <li>Participants Joined: <span class="uk-badge ml-2"><%= participantsDetails.length %></span> </li>
                                    <li>Participant's Name: <% participantsDetails.forEach(participant=>{%>
                                        <span class="uk-badge ml-2"><%= participant.participant_name %></span> 
                                    <%} ) %> </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                <%}) %> 
            </div>
        </div>
    </div>

    <!-- footer -->
    <!-- <footer>
        <div class="uk-visible@m" id="footer-for-video-panel">
            <div class="uk-navbar-container footer uk-position-bottom" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="" class="white_text">Go Back to Royex.live</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-hidden@s">
            <div class="uk-navbar-container footer" uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> -->
</section>

</body>
</html>